<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
            <h1 style="color:red; text-indent: 40%;">
              Distraction detected:
            </h1> 
 
   
    <section>

        <p>
            {% for resp in result %}

           <h2 style="color:blue; text-indent: 40%;"> {{resp}}; </h2>

            {% endfor %}
        </p>
      
    </section>
</body>
</html>